<div class="container">

  <%= simple_form_for :search, url: '#', method: "GET", input_html: { class: "form-inline" } do |f| %>
        <%= f.input :article, input_html: {value: "", id: "articles_input", class: "placeholder-home search-form"}, label: "Palavra chave", label: false %>
        <%= button_tag type: '', class: "btn btn-search-form-banner inline-absolute" do %>

      <% end %>
    <% end %>
  <div class="row">

  </div>
</div>



