<div class="container">
  <div class="header-form">
    <div class="text-center">
      <p>Ariane vai pesquisar dentro do conteúdo de <%= @articles.count %> artigos e sugerir resultados para você.</p>
    </div>
      <div id="articles_input" class="ais-SearchBox">

      </div>

     <img src="https://res.cloudinary.com/hilnmyskv/image/upload/q_auto/v1589967327/Algolia_com_Website_assets/images/shared/algolia_logo/search-by-algolia-light-background.png" alt="">

  </div>
  <div id="articles" class="row">

    </div>
</div>



