<div class="container">
<%= simple_form_for :search, url: topic_path(:id), method: "GET", input_html: { class: "form-inline" } do |f| %>
            <%= f.input :topic, input_html: {value: "", id: "topics_input", class: "placeholder-home search-form"}, placeholder: "Palavra chave", label: false %>
            <%= button_tag type: 'submit', class: "btn btn-search-form-banner inline-absolute" do %>
              <i class="fas fa-search"></i>
            <% end %>
      <% end %>

<div class="row">


</div>



</div>
