<div class="container">


  <div class="row center;">
      <h2>Assunto: <%= @topic.name %> </h2>

  </div>
  <div class="row spaceb">
           <h3><%= @articles.count %> artigos relacionados em ... textos</h3>
  </div>

  <%= render 'shared/cards_article', article: @articles %>
</div>
