<div class="row">
<% @topics.each do |topic| %>
    <div class="col-xs-12 col-md-4">
      <div class="card-topic" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1450101499163-c8848c66ca85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80)">
        <%= link_to("", topic_path(topic.id), class:"card-link")  %>
           <div class="card-topic_details">


            <h2><%= topic.name %> </h2>
            <h6><%= topic.articles.count %> artigos relacionados...</h6>

          </div>
      </div>
    </div>
  <% end %>
</div>



<!-- <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Breakfast
  </div>
 -->
