<div class="footer">
  <div class="footer-links">
    <a href="https://www.linkedin.com/company/anbima/"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.anbima.com.br/pt_br/pagina-inicial.htm">Anbima</a>
    <a href="https://www.linkedin.com/company/cvm/"><i class="fab fa-linkedin"></i></a>
    <a href="http://www.cvm.gov.br/">CVM</a>
  </div>
  <div class="footer-copyright">
    <a href="https://github.com/NicoEym/rails-regulacao"><i class="fab fa-github"></i></a>
  </div>
</div>
