.card-article {
  overflow: hidden;
  height: 12em;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  transition: all .3s ease-in-out;
  background-color: #FCFCF6;
  border-radius: 0.3em;
  &:hover {
    background-color: rgba( 250, 250, 250, 0.5);
    text-decoration: none;
  }
}

.card-article img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-article h4 {
  font-size: 1.5em;
  margin: 0;
}

.card-article h5 {
  font-size: 1em;

  margin: 0;
}

.card-article p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-article .card-article-infos {
  padding: 16px;
  max-height: 100%;
  width:100%;
  height:100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-article .card-article-title {
  display: flex;
  justify-content: space-between;
  opacity: .7;
}


.card-article .card-article-topics {
  margin-bottom: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
  border-radius: 1em;
}
