.search-form {
  position: relative;
}


.inline-absolute {
  position: absolute;
  top: 0px;
  right: 1em;
}

.placeholder-home  {
  color:rgba( 210, 210, 210, 0.65);
}


.header-form {
  margin-bottom: 2em;
  background-color: #F4F4F4;
  padding: 1em;
  border-radius: 0.2em;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
}
