// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "button";
@import "banner";
@import "cards";

.white-text {
  color: rgb(255, 255, 255);
  &:focus {
      color: rgb(255, 255, 255);
    };
}


body {
  background-color: #CAFECB;
}
