.navbar-reg {
  justify-content: space-between;
  background: #F9F9F9;
  margin-bottom: 1em;
  box-shadow: 1em;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

.navbar-reg .navbar-collapse {
  flex-grow: 0;
}

.navbar-reg .navbar-brand img {
  width: 60px;
  margin-left: 0.5rem;
}
